{% extends 'core/base.html' %}
{% load bootstrap %}

{% block title %}
    Denúncias
{% endblock %}
{% block main %}
    <div class="container jumbotron">
        <form action="." method="POST">
            {% csrf_token %}
            {% for field in form %}
                {% if field.name == 'longitude' or field.name == 'latitude'  %}
                    {{ field.as_hidden }}
                {% else %}
                    {{ field|bootstrap }}
                {% endif %}
            {% endfor %}
            <button class="btn btn-success" type="submit">Enviar Denúncia</button>
        </form>
    </div>
{% endblock %}
{% block script %}
    <script>
    $(document).ready(
        function getLocation() {
          if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
          } else {

          }
        }
    );
    function showPosition(position) {
        $("input[name='latitude']").val(position.coords.latitude);
        $("input[name='longitude']").val(position.coords.longitude);
    }

    </script>
{% endblock %}