{% extends 'core/dashboard_core.html' %}
{% load static %}
{% block page_report %}
    <span></span>
{% endblock %}

{% block user_profile_pic %}
    <img class="img-profile rounded-circle" src="{{ perfil.image.url}}">
{% endblock %}

{% block username %}
{{ user.get_short_name }}
{% endblock %}

{% block page_name %}
    Gerenciar configurações do Site
{% endblock %}
{% block main_content %}
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Configurações do Site</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
            <div class="col">
                <img src="{% static 'images/em_construcao.jpg'%}" class="col"/>
            </div>

        </div>
      </div>
    </div>

{% endblock %}