{% extends 'core/base.html' %}
{% load static %}
{% block title %}
    Sobre a Equipe
{% endblock %}

{% block main %}
    <div class="container jumbotron">
        Vamos criar agora hein
        <div class="row">
            {% for pessoa in equipe  %}
                <div class="col">
                    <div class="card card-inverse text-center" style="max-width: 150px;   border-radius: 70px;">
                        <img style="border-radius: 50px 50px 0px 0px;" height="180" class="card-img-top" src="{% static  pessoa.img %}">
                        <div class="card-img-overlay">
                            <p style="padding-top: 80%" class="{{ pessoa.class }}">{{ pessoa.nome }}</p>
                        </div>
                        <div class="card-body">
                            {{ pessoa.descript }}
                        </div>
                    </div>

                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}