{% extends 'core/base.html' %}

{% block title %}
    Prevenção e Dicas
{% endblock %}

{% block main %}
    <div class="container">
         {% for post in prevent_post_list %}
             <div class="blog-post">
                <h2 class="blog-post-title">{{ post.title }}</h2>
                <p class="blog-post-meta">{{ post.created_date }} por <a href="#">{{ post.author }}</a></p>
                {% if post.description %}
                    {{ post.description }}
                    <hr/>
                {% endif %}
                {{ post.text|safe}}
            </div>
             {% empty %}
            <h3>Ainda não inserimos posts por aqui! Aguarde mais um pouquinho, que já iremos inserir conteúdo. </h3>
        {% endfor %}
    </div>
{% endblock %}